html, body, div, input {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  box-sizing: border-box;
  background: transparent;
}
input {
  font: inherit;
  color: inherit;
}
html {
  font-family: Meiryo, sans-serif;
  color: white;
  font-size: 36px;
  line-height: 1;
}
html, body {
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.kusou {
  height: 0.9em;
  margin: 0 0.05em;
}
#guide {
  position: fixed;
  bottom: 5em;
  left: calc(50% - 425px);
  width: 850px;
  padding: 1em;
  border: 3px solid #aaa;
  background: rgba(0, 0, 0, 0.7);
  font-size: 26px;
  line-height: 1.3em;
  opacity: 0;
  transition: opacity ease-out 100ms;
}
#guide.show {
  opacity: 1;
}
#guide h1, h2, h3{
  text-align: center;
  margin: 0;
  padding: 0;
}
.keyGroup {
  margin: 1em 0;
}
.keyGroup .key {
  float: left;
  line-height: 1.4em;
  width: 140px;
  padding: 0.3em;
  margin: 0.25em 0.5em;
  border: 1px solid #333;
  background: #eee;
  color: #000;
  text-align: center;
  font-weight: bold;
}
#logs {
  position: fixed;
  bottom: 2.8em;
  width: 100%;
  text-align: center;
  word-wrap: break-word;
  overflow: hidden;
}
#logs div {
  white-space: pre-wrap;
  font-size: 42px;
  padding: 0.3em;
  width: 100%;
  color: rgba(255, 255, 255, 0.5);
  text-shadow:
     1px  1px black,
     1px -1px black,
    -1px  1px black,
    -1px -1px black;
}
#logs div:last-child {
  font-size: 120px;
  padding: 0.2em;
  color: white;
  text-shadow:
     4px  4px black,
     4px -4px black,
    -4px  4px black,
    -4px -4px black;
  animation: 200ms growHeight ease-out;
  overflow:hidden;
}
#form {
  position: fixed;
  bottom: 0;
  left: calc(50% - 40vw);
  width: 80vw;
  height: 2em;
  line-height: 2em;
  background: rgba(0, 0, 0, 0.7);
}
#pointer {
  position: absolute;
  width: 2.6em;
  text-align: right;
}
#input {
  position: absolute;
  left: 2.6em;
  width: calc(100% - 2.6em);
  padding: 0 0 0 0.4em;
  overflow: visible;
  white-space: nowrap;
  display: flex;
  flex-wrap: nowrap;
}
#output {
  flex: initial;
  min-width: 0;
  overflow: hidden;
  white-space: pre;
}
#outputClip, #bufferClip {
  float: right;
  display: inline-block;
}
#inputTrap {
  flex: auto;
}
#buffer {
  flex: none;
  overflow: hidden;
  max-width: calc(100% - 20px);
  white-space: pre;
}
#bufferClip {
  border-bottom: 2px solid white;
  line-height: 1.1em;
  padding-top: .45em;
}
#suggestionAnchor {
  flex: none;
  position: relative;
  width: 0;
}
#suggestions {
  line-height: 1.1em;
  position: absolute;
  padding: 0.3em;
  left: 0;
  bottom: 2em;
  white-space: normal;
  overflow: hidden;
  background: rgba(0, 0, 0, 0.95);
  white-space: pre;
  max-width: calc(80vw - 2.6em);
}
#suggestions .active {
  text-decoration: underline;
}
#inputTrap {
  margin: 0;
  padding: 0 0.1em;
  width: 0.5em;
}
@keyframes growHeight {
  from {
    opacity: 0;
    line-height: 0px;
    padding: 0em;
    margin-top: 120px
  }
  to {
    opacity: 1;
    line-height: 120px;
    padding: 0.2em;
    margin-top: 0px;
  }
}
/*Browser testing*/
@media only screen and (min-width: 1200px) {
  html{
    background:#555;
  }
}